.Person {
    width: 400px;
    margin: 20px auto;
    border: 1px solid #ddd;
    box-shadow: 0 2px 3px #bbb;
    padding: 20px;
    text-align: center;
}

.Person button {
    margin-right: 10px;
}

.combined-red {
    color: red;
}

.combined-bold {
    font-weight: bold;
}

.combined-italic {
    font-style: italic;
}